{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    <section class="section hero-wrapper pt-14">
      <div class="container max-w-screen-lg">
        <div class="row justify-between" data-aos="fade-up">
          <div class="lg:col-7 md:col-9 mb-8 text-left">
            <h1 class="mb-4 text-h3 lg:text-h1 text-white">
              {{ .title | markdownify }}
            </h1>
            <p class="mb-8">
              {{ .content | markdownify }}
            </p>
            {{ with .button }}
              {{ if .enable }}
                <a
                  class="btn bg-white text-primary"
                  href="{{ .link | absURL }}"
                  {{ if strings.HasPrefix .link `http` }}
                    target="_blank" rel="noopener"
                  {{ end }}>
                  {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
          <div class="col-12 md:col-3">
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto lg:!max-w-[100%]" "DisplayXL" "800x" ) }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Banner -->

  <section class="md:-mt-[80px]">
    <div class="container max-w-screen-lg">
      <div class="grid md:grid-cols-3 gap-6">
        {{ range $i, $e:= .Params.features }}
          <div
            class="relative block overflow-hidden rounded-lg border border-gray-100 p-4 sm:p-6 lg:p-8 bg-white  shadow-2xl"
            data-aos="fade-left">
            <span
              class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"></span>

            <div class="flex align-top sm:gap-4">
              <i class="{{ $e.icon }} text-3xl"></i>
              <div>
                <h3 class="text-lg font-bold text-gray-900 sm:text-xl">
                  {{ $e.title }}
                </h3>

                <div class="mt-4">
                  <p class="text-pretty text-sm text-gray-500">
                    {{ $e.content }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>

  {{ $about := .Params.About }}
  <section class="section-sm">
    <div class="container max-w-screen-lg">
      <div
        class="grid grid-cols-1 gap-y-8 lg:grid-cols-2 lg:items-center lg:gap-x-16">
        <div class="mx-auto max-w-lg text-left lg:mx-0" data-aos="fade-right">
          <h2 class="text-3xl font-bold sm:text-4xl">{{ $about.title }}</h2>

          <p class="mt-4 text-black font-semibold">
            {{ $about.caption }}
          </p>

          <p class="mt-4 text-gray-600">
            {{ $about.content }}
          </p>
        </div>

        <div class="grid grid-cols-2 gap-2 justify-center items-center">
          {{ range $i, $e:= $about.services }}
            <div
              class="rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring text-center"
              data-aos="fade-left">
              <span class="inline-block rounded-lg bg-gray-50">
                <i class="{{ $e.icon }} text-3xl"></i>
              </span>

              <span class="mt-2 font-bold block">{{ $e.title }}</span>

              <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
                {{ $e.content }}
              </p>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>

  <!-- teknologi -->
  <section class="section-sm" data-aos="fade-right">
    <div class="container max-w-screen-lg">
      <div class="row">
        <div class="col">
          <h2 class="mb-4">Teknologi</h2>
          <p class="mb-8 text-lg">
            Teknologi yang kami pakai dalam setiap produk kami
          </p>

          <ul class="flex gap-1" id="technologies">
            {{ range $technology := .Params.Technologies }}
              <li>
                {{ partial "image" (dict "Src" $technology "Alt" $technology "Class" "max-h-[2em] max-w-[auto]") }}
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </section>

  {{ $author := .Params.Author }}
  <section class="section-sm">
    <div class="container max-w-screen-lg">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <div
          class="grid grid-cols-2 gap-4 md:grid-cols-1 lg:grid-cols-2 rounded-xl overflow-hidden">
          {{ range $image := $author.images }}
            <img
              alt="{{ $author.name }}"
              src="{{ $image }}"
              class="h-40 w-full object-cover sm:h-56 md:h-full" />
          {{ end }}
        </div>
        <div class="bg-primary p-8 md:p-12 lg:px-16 lg:py-24 rounded-lg">
          <div class="mx-auto max-w-xl text-left">
            <span class="text-2xl font-bold text-white md:text-3xl">
              {{ $author.name }}
            </span>
            <span class="block font-bold text-white"
              >{{ $author.position }}</span
            >

            <p class="hidden text-white/90 sm:mt-4 sm:block">
              {{ $author.caption }}
            </p>

            <div class="mt-4 md:mt-8">
              <a
                href="{{ $author.button.url }}"
                class="inline-block rounded border border-white bg-white px-12 py-3 text-md space-x-2 font-medium text-primary transition hover:bg-transparent hover:text-white focus:outline-none focus:ring focus:ring-yellow-400">
                <i class="fa-regular fa-address-card"></i>
                <span>{{ $author.button.label }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
