{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    <section class="section hero-wrapper pt-14">
      <div class="container max-w-screen-lg">
        <div class="row justify-between" data-aos="fade-up">
          <div class="lg:col-7 md:col-9 mb-8 text-left">
            <h1 class="mb-4 text-h3 lg:text-h1 text-white">
              {{ .title | markdownify }}
            </h1>
            <p class="mb-8">
              {{ .content | markdownify }}
            </p>
            {{ with .button }}
              {{ if .enable }}
                <a
                  class="btn bg-white text-primary"
                  href="{{ .link | absURL }}"
                  {{ if strings.HasPrefix .link `http` }}
                    target="_blank" rel="noopener"
                  {{ end }}>
                  {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
          <div class="col-12 md:col-3">
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto lg:!max-w-[100%]" "DisplayXL" "800x" ) }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Banner -->

  <section class="md:-mt-[80px]">
    <div class="container max-w-screen-lg">
      <div class="grid md:grid-cols-3 gap-6">
        {{ range $i, $e:= .Params.features }}
          <div
            class="relative block overflow-hidden rounded-lg border border-gray-100 p-4 sm:p-6 lg:p-8 bg-white  shadow-2xl"
            data-aos="fade-left">
            <span
              class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"></span>

            <div class="flex align-top sm:gap-4">
              <i class="{{ $e.icon }} text-3xl"></i>
              <div>
                <h3 class="text-lg font-bold text-gray-900 sm:text-xl">
                  {{ $e.title }}
                </h3>

                <div class="mt-4">
                  <p class="text-pretty text-sm text-gray-500">
                    {{ $e.content }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
  <!-- teknologi -->

  <section class="section-sm" data-aos="fade-right">
    <div class="container max-w-screen-lg">
      <div class="row">
        <div class="col">
          <h2 class="mb-4">Teknologi</h2>
          <p class="mb-8 text-lg">
            Teknologi yang kami pakai dalam setiap produk kami
          </p>

          <ul class="flex gap-1" id="technologies">
            {{ range $technology := .Params.Technologies }}
              <li>
                {{ partial "image" (dict "Src" $technology "Alt" $technology "Class" "max-h-[2em] max-w-[auto]") }}
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </section>
{{ end }}
