{{ partial "page-header" . }}
<section class="py-8">
  <div class="container">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-3">
      {{ $t := slice "sekolahku" }}
      {{ range where .Site.Pages ".Params.tags" "intersect" $t }}
        <a
          class="group block overflow-hidden shadow rounded-2xl border "
          href="{{ .RelPermalink }}"
          data-aos="zoom-in">
          <div
            class="relative h-[250px] sm:h-[250px] overflow-hidden rounded-2xl hover:scale-110 transition-all">
            <img
              class="inset-0 h-full w-full object-cover object-top opacity-100"
              src="{{ .Params.Thumbnail }}" />
          </div>
          <div class="relative pt-3 px-4">
            <h3
              class="text-lg text-primary group-hover:underline group-hover:underline-offset-4 font-semibold">
              {{ .Title }}
            </h3>
          </div>
          <div
            class="mt-1.5 flex items-center justify-between text-gray-900 px-4">
            {{ if .Params.Free }}
              <div
                class="p-2 bg-red-400 text-white rounded-lg space-x-2 text-lg font-bold my-2">
                <i class="mdi mdi-tag"></i>
                <span>Gratisss !!!</span>
              </div>
            {{ end }}
          </div>
          <p class="mt-1.5 text-xs text-gray-500 px-4 mb-5">
            {{ .Params.Description }}
          </p>
        </a>
      {{ end }}
    </div>
  </div>
</section>
