<section class="bg-gradient-primary text-white mt-4" data-aos="fade-bottom">
  <div class="py-12 container max-w-screen-lg">
    <div class="row justify-between items-center align-middle">
      <div class="md:col-7">
        <span class="block text-3xl font-bold">
          Hubungi Aura Komputer hari ini dan dapatkan konsultasi GRATIS!
        </span>

        <p class="mt-5">
          Lebih dari sekadar website dan profile perusahaan . Aura Komputer
          menghadirkan solusi digital terintegrasi yang meningkatkan visibilitas
          online bisnismu, mengoptimalkan jangkauan, dan mendorong konversi.
        </p>
      </div>
      {{ if site.Params.navigation_button.enable }}
        <div class="md:col-3 text-right">
          <a
            class="border-2 px-8 rounded text-md py-2"
            target="_blank"
            href="{{ site.Params.navigation_button.link | relLangURL }}">
            <i class="fab fa-whatsapp mr-2"></i>
            {{ site.Params.navigation_button.label }}
          </a>
        </div>
      {{ end }}
    </div>
  </div>
</section>

<footer class="bg-theme-light dark:bg-darkmode-theme-light">
  <div class="container max-w-screen-lg">
    <div class="row items-center py-10">
      <div class="lg:col-4 mb-8 text-center lg:mb-0 lg:text-left">
        <!-- navbar brand/logo -->
        <a class="inline-block" href="{{ site.Home.RelPermalink }}">
          {{ partial "logo" }}
        </a>
      </div>
      <div class="lg:col-4 mb-8 text-center lg:mb-0">
        <ul>
          {{ range site.Menus.footer }}
            <li class="m-3 inline-block">
              <a
                {{ if findRE `^http` .URL }}
                  target="_blank" rel="noopener"
                {{ end }}
                href="{{ if findRE `^#` .URL }}
                  {{ if not $.IsHome }}
                    {{ site.Home.RelPermalink }}
                  {{ end }}{{ .URL }}
                {{ else }}
                  {{ .URL | relLangURL }}
                {{ end }}"
                >{{ .Name }}</a
              >
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="lg:col-4 mb-8 text-center lg:mb-0 lg:mt-0 lg:text-right">
        <ul class="social-icons">
          {{ range site.Data.social.main }}
            <li>
              <a
                target="_blank"
                aria-label="{{ .name }}"
                rel="nofollow noopener"
                href="{{ .link | safeURL }}">
                <i class="{{ .icon }}"></i>
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  <div
    class="border-border dark:border-darkmode-border border-t py-2 bg-primary">
    <div
      class="text-xs dark:text-darkmode-light text-white container text-center">
      <p>
        {{ site.Params.copyright | markdownify }}
      </p>
    </div>
  </div>

  <button
    class="back-to-top fixed bottom-8 right-8 z-50 rounded-full bg-primary hover:bg-blue-600 text-white w-[2em] h-[2em] shadow-2xl hidden justify-center items-center text-[25px]">
    <i class="fa fa-chevron-up"></i>
  </button>
</footer>
