{{ define "main" }}
  {{ with .Params.banner }}
    <section class="bg-sekolahku text-white section pt-14">
      <div class="container">
        <div class="row justify-center">
          <div class="lg:col-7 md:col-9 mb-8 text-center">
            <h1 class="mb-4 text-h3 lg:text-h1 text-white" data-aos="fade-up">
              {{ .title | markdownify }}
            </h1>
            <p class="mb-8" data-aos="fade-down">
              {{ .content | markdownify }}
            </p>
            {{ range .buttons }}
              <a
                class="btn bg-white text-primary hover:text-white hover:bg-primary"
                href="{{ .link | absURL }}"
                data-aos="fade-right"
                {{ if strings.HasPrefix .link `http` }}
                  target="_blank" rel="noopener"
                {{ end }}>
                <i class="{{ .icon }} pr-2"></i>
                {{ .label }}
              </a>
            {{ end }}
          </div>
          <div class="col-12" data-aos="fade-up">
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto lg:!max-w-[800px]" "DisplayXL" "800x" ) }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}

{{ end }}
